.input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 100%; /* Ajusta el ancho al contenedor */
    max-width: 300px; /* Establece un máximo para evitar que se estire demasiado */
    cursor: pointer;
    border: 1px solid #020912;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.input > input {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #020912;
    width: 100%; /* Ajusta el ancho al contenedor */
}

.input > textarea {
    background: none;
    outline: none;
    border: none;
    resize: none;
    width: 100%; /* Ajusta el ancho al contenedor */
    min-height: 100px; /* Altura mínima */
    cursor: pointer;
}

.input > .span {
    font-size: 1em; /* Usa unidades relativas */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.7s;
    pointer-events: none;
    color: #020912;
}

.input > .textInput:focus ~ .span,
.input > .textInput:not(:placeholder-shown) ~ .span {
    top: 0;
    font-size: 0.75em; /* Usa unidades relativas */
}

.spanValited {
    position: absolute;
    left: 10px;
    top: 0;
    transform: translateY(-10px);
    font-size: 0.75em; /* Usa unidades relativas */
    pointer-events: none;
    color: #020912;
}
