@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --fontsPrimary: #34B0BE;
    --fontSecundary: #D2CECA;
    --backgroundPrimary: #242635;
    --backgroundPrimaryTrans: #242635e5;
    --backgroundSecundary: #393949;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--backgroundPrimary);
    color: var(--fontSecundary);
}

.textCenter {
    text-align: center;
}

/*##############HEADER##############*/
header {
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
}

nav>div>img {
    width: 45px;
}

input#menu-hamburguesa {
    visibility: hidden;
}

input#menu-hamburguesa~ul {
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    /* height: calc( 100vh - 60px ); */
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    background-color: var(--backgroundPrimaryTrans);
    z-index: 5;
}

input#menu-hamburguesa:checked~ul {
    display: flex;
}

nav>ul>li:hover {
    color: var(--fontsPrimary);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section>.inf {
    display: flex;
    justify-content: center;
}

.inf>.textOne {
    position: relative;
    z-index: 2;
    left: 2rem;
}

.textOne>h1 {
    font-size: 35px;
    font-weight: bold;
}

.textOne>span {
    font-size: 30px;
    font-weight: bold;
    color: var(--fontsPrimary);
    border-bottom: 3px solid var(--fontSecundary);

}

.textOne>h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.fotoPerfil>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--backgroundSecundary);

}

.inf>.otro {
    position: relative;
    z-index: 2;
    right: 1rem;
}

.textTwo>h1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--fontsPrimary);
}

.redes>img {
    background-color: var(--fontSecundary);
    width: 25px;
    border-radius: 50%;
    padding: 2px;
}

section>.app {
    background-color: var(--backgroundSecundary);
    border-radius: 1rem;
    position: relative;
    bottom: 10px;
    width: 370px;
}

.app>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.app>div>img {
    background-color: var(--fontSecundary);
    width: 60px;
    height: 60px;
    border-radius: 1rem;
    padding: 10px;
}

/*###########SECTION ACERCA DE MI##########*/
section>.acerca {
    padding: 0 1rem;
    margin-bottom: 20px;
}

.acerca>h2 {
    color: var(--fontsPrimary);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

/*###########SECTION SERVICIOS##########*/
section>.serv {
    padding: 0 1rem;
    margin-bottom: 20px;
}

.serv>h2 {
    color: var(--fontsPrimary);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

#contenedorCarrusel {
    overflow: hidden;
    height: 250px;
}

.itemsCarrusel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.itemsCarrusel>.card {
    width: 250px;
    background-color: white;
    border-radius: 1rem;
    padding-bottom: 20px;
    height: 100%;
}

.flechas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flechas>a {
    width: 45px;
    text-decoration: none;
}

.flechas>img {
    width: 45px;
}

.card>div {
    position: relative;
}

.card>div>.imgOne {
    width: 250px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card>div>.imgTwo {
    width: 95px;
    position: absolute;
    top: 3rem;
    left: 5rem;
}

.card>h4 {
    color: var(--backgroundPrimary);
    padding: 1rem 0;
}

.card>small {
    font-weight: bold;
}

/*###########SECTION HABILIDADES##########*/
section>.habilidades {
    padding: 0 2rem;
    margin-bottom: 20px;
    width: 90%;
}

.habilidades>h2 {
    color: var(--fontsPrimary);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.habilidades>div>.barra>.text {
    display: flex;
    justify-content: space-between;
}

.barra>.porcentaje {
    height: 20px;
    width: 100%;
    background-color: var(--fontSecundary);
    border-radius: 1rem;
    margin: 10px 0;
}

.porcentaje>.porcSql {
    width: 80%;
    height: 20px;
    background-color: var(--fontsPrimary);
    border-radius: 1rem;
}

.porcentaje>.porcJs {
    width: 50%;
    height: 20px;
    background-color: var(--fontsPrimary);
    border-radius: 1rem;
}

.porcentaje>.porcHtml {
    width: 90%;
    height: 20px;
    background-color: var(--fontsPrimary);
    border-radius: 1rem;
}

.porcentaje>.porcCss {
    width: 75%;
    height: 20px;
    background-color: var(--fontsPrimary);
    border-radius: 1rem;
}

/*###########SECTION PORTAFOLIO##########*/
.portafolio {
    padding: 0 2rem;
    margin-bottom: 20px;
    width: 100%;
}

.portafolio>h2 {
    color: var(--fontsPrimary);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

/*###########SECTION CONTACTO##########*/
.contacto {
    padding: 0 2rem;
    margin-bottom: 20px;
    width: 100%;
}

.contacto>h2 {
    color: var(--fontsPrimary);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contacto>div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contacto .cardContacto {
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 1rem;
    width: 160px;
    position: relative;
}

.contacto>div>div>.fondo {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.contacto>div>div>.icono {
    position: absolute;
    top: 2rem;
    left: 3.3rem;
}

.contacto h4 {
    color: var(--backgroundPrimary);
}

.contacto small {
    color: rgb(112, 109, 109);
}

/*###########FOOTER##########*/
footer {
    background-color: var(--backgroundSecundary);
    color: var(--fontsPrimary);
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/*################MEDIAS QUERYS#####################*/
/* section>.inf{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

@media screen and (min-width:802px) {
    nav>label {
        display: none;
    }

    input#menu-hamburguesa~ul {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }

    header>section{
        width: 100%;
        margin-top: 2rem;
    }    
    section>.inf{    
        width: 100%;    
        margin-bottom: 2rem;
        justify-content: none;
    }
 
    .textOne>h1{
        font-size: 50px;
    }

    .textOne>span{
        font-weight: bold;
        font-size: 50px;
    }

    .textOne>h2{
        font-size: 30px;
    }

    .inf>.fotoPerfil>img{
        width: 250px;
        height: 250px;
      
    }

    .textTwo>h1{
        font-size: 40px;
    }

    .textTwo>span{
        font-size:30px;
    }

    .inf .redes>img{
        width: 35px;
    }

    section>.app{
        width: 800px;
        height: 100px;
        align-items: center;
        position: absolute;
        top:3.4in;
    }

    .app>div{
        width: 100%;
        height: 100%;
    }

    .acerca {
        max-width: 800px;
        margin-top: 2rem;
    }

    #contenedorCarrusel {
        overflow: visible;
        height: 250px;
        display: flex;
        gap: 1rem;
    }

    .serv .flechas {
        display: none;
    }

    section>.habilidades {
        padding: 0 5rem;
    }

}

@media screen and (max-width:399px) {
    .contacto>div {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:600px) {
    .portafolio #contenedorCarrusel{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        position: static;
        height: 100%;
    }
    .portafolio img {
        width: 250px;
        height: 250px;
    }

    .portafolio .flechas {
        display: none;
    }
}

/* @media screen and (max-width:370px) {
    .inf .textoOne {
        order: 2;
        position: static;
    }

    .inf h1{
        display: none;
    }

    .inf .fotoPerfil{
        order:1;
    }

    .inf .textTwo{
        order: 3;
    }

    .inf .textTwo{
        display: none;
    }

} */