@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  height: 100vh;
}

.App.themeDark {
  background: #020912;
  color: #ffffff;
}

.App.themeLigth {
  color: #020912;
  background: #ffffff;
}

.settings {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.themeCont {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme {
  width: 80px;
  padding: 2px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme>div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.sliceLeft {
  transform: translate(0);
  transition: 0.7s;
}

.sliceRigth {
  transform: translate(45px);
  transition: 0.7s;
}

.language {
  display: flex;
  gap: .5rem;
  align-items: center;
  cursor: pointer;
}

.language>.contLanguage {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.language .contLanguage.activo {
  border-radius: '5px';
  padding: '4px';
}

.language>.contLanguage>img {
  width: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;  
}

.main>h1 {
  font-family: 'Kavoon', cursive;
  color: #52bd89;
}

.main > p {
  text-Align: center;
  line-Height: 30px;  
}


/***************************HOME***************************/

.imgList {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.btnHome {
  background: #D9D9D9;
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #020912;
  border: 1px solid #020912;
  cursor: pointer;
  font-weight: bold;
}

.btnHome:hover {
  color: #D9D9D9;
  background: #020912;
  border: 1px solid #D9D9D9;
}

.icons {
  display: flex;
  font-size: 35px;
  gap: 1rem;
}

.icons a {
  text-decoration: none;
  color: #092952;
}

.icons>i {
  cursor: pointer;
}

/***************************STACK***************************/

.stack {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 30px;
  border-radius: 15px;
}

.stack>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #52bd89;
  padding: 10px;
  border-radius: 10px;
  gap: .5rem;
  cursor: pointer;
}

.stack>div>i {
  font-size: 50px;
}

.stack>div>span {
  font-weight: bold;
}

.stack .divDark:hover {
  background: #ffffff;
  color: #020912;
}

.stack .divLigth:hover {
  background: #020912;
  color: #ffffff;
}

/***************************Container***************************/
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: #092952;
  border-radius: 20px;
  font-size: 25px;
  padding-bottom: 15px;
  position: relative;

}

.container>i {
  font-size: 70px;
}

.container>.foto {
  width: 250px;
  height: 250px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .main {
    justify-content: center;
  }

  .main > p {    
    font-size: 35px;
  }

  .main > ul > li {
    font-size: 25px;
  }

  .stack {
    grid-template-columns: repeat(3, 1fr);

  }

  .stack>div>i {
    font-size: .5in;
  }
}

@media (min-width: 800px) {

  .stack {
    grid-template-columns: repeat(4, 1fr);
  }

  .stack>div>i {
    font-size: 1.5in;
  }
}