@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

:root{
  --colorPrimary:#fff;
  --colorSecondary: #f2d43e;
  --backgroundPrimary: #04076d;
}


body {
  background-image: linear-gradient(135deg, #12043f, #04076d, #0c1399, #122aa5,
      #3c2afc, #9587ff);
  background-size: 500%;
  animation: banimado 5s infinite;
  overflow-y: scroll;
  min-height: 100vh;
  width: 100%;
}

@keyframes banimado {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.navBar{
  background: var(--backgroundPrimary);
  border-radius: .5rem;
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  min-height: 50px;
  z-index: 5000;  
}

i:hover{
  color:var(--colorSecondary);
  cursor:pointer;  
}

.datosPersonales{
  display: flex;  
  gap: 1rem;
  align-items: center;
  background: var(--backgroundPrimary);  
  border-radius: 1rem;
  padding: 1rem;
  
}

.botones{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.fotoPerfil{
  width: 100px;  
  height: 100px;
  border-radius: 50%;
  background:rgba(255, 255, 255, 0.61);
}

.tipeo{
  color: var(--colorSecondary);
  position: relative;
} 

.tipeo::after{
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  white-space: nowrap;
  border-left: 4px solid;
  overflow: hidden;
  animation: typing 3s infinite alternate steps(13);  
  overflow: hidden;
  background: var(--backgroundPrimary);
}

@keyframes typing {
  from{width: 100%;}
  to{width: 0;}
}


.divBlock{
  text-align: center;
  margin: 1rem;
}

.divBlock span{
  font-size: 12px;
  
}

.divBlock img{
  width: 100px;
  height: 150px;
  border-radius: .5rem;
}

.haTec img{
  width: 45px;
  height: 45px;
}

.haTec{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: .5rem;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1in;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.container h1{
  color: var(--colorSecondary);
}

.container span{
  text-align: justify;
}

.imgtec img{
  width: 45px;
  height: 45px;
  
}

.imgtec{
  display: flex;
  justify-content: space-around;
}

.card:hover{
  cursor: pointer;
}

.contCard{
 display: none; 
 position: absolute; 
 background: #04086d94; 
}

.card:hover .contCard{
  display: block;
  top: 0;  
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  width: 300px;
}

form input{
  background: var(--backgroundPrimary);
  color: var(--colorSecondary);
  border: none;
  outline: none; 
  border-radius: .5rem;
  padding: 10px;
  width: 100%;
}

form textarea{
  background: var(--backgroundPrimary);
  color: var(--colorSecondary);
  border: none;
  border-radius: .5rem;
  padding: 10px;
  width: 100%;
}

form button{
  background: var(--backgroundPrimary);
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  color: var(--colorSecondary);
}

.cardHab{
  display: flex;
  align-items: center;
  padding: 10px;
}

.divHabi{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home{
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  gap: 1rem;
}

@media screen and (min-width:550px) {
    .divHabi{
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .navBar{
      top: 0;
      bottom: 90%;
    }

    .navBar{
      font-size: 35px;
    }

    .container{
      margin-bottom: 0;
      margin-top: 2rem;
    }

    .home{
      align-items: center;
    }

    .datosPersonales{
      width: 550px;
    }

    .datosPersonales img{
      width:200px;
      height: 200px;
    }

    .datosPersonales h5{
      font-size: 25px;
    }
    .datosPersonales h6{
      font-size: 25px;
    }

    .datosPersonales i{
      font-size: 25px;
    }
}